@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');


h1, h2 , h3{
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
    font-weight: 400;
    
}

h1 {
    color: #222244;
    font-size: 300%;
    line-height: 40px;
    margin-top: -33%;
    margin-left: 37%;
}

h2 {
    color: #515255;
    font-size: 150%;
    line-height: 24px;
    letter-spacing: 0em;
    margin-top: 100px;
    margin-left: 38%;
}
h3 {
    color: #96969f;
    font-size: 120%;
    line-height: 40px;
    letter-spacing: 0,1em;
    margin-top: 3px;
    margin-left: 38%;
}

.imag img {
    width: 40px;

}

.google img {
    margin: 0px 0 0 690px;
}

.email {
    margin-top: 20px;
    margin-left: 38%;
    width: 500px;
    height: 50px;
    font-family: 'Roboto';
    border-color: #515255;
}
.key {
    margin-top: 40px;
    margin-left: 38%;
    width: 500px;
    height: 50px;
    font-family: 'Roboto';
    border-color: #515255;
}
.cadastro {
    margin-top: 10px;
    margin-left: 38%;
}

.cadastro a {
    color: #515255;
    text-decoration: underline;
    cursor: pointer;
}

.cadastro a:hover {
    color: #222244;
}


.buttonOrange {
    margin-top: 20px;
    margin-left: 38%;
    
}