@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');


h1, h2 {
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
    font-weight: 400;
    
}

h1 {
    color: #222244;
    font-size: 48px;
    line-height: 40px;
    letter-spacing: 0em;
    margin-top: 0px;
    margin-left: 510px;
}

h2 {
    color: #515255;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0em;
    margin-top: 30px;
    margin-left: 520px;
}

.imag img {
    position: relative;
    width: 40px;

}

.google img {
    margin: 0px 0 0 690px;
}

.email {
    margin-top: 20px;
    margin-left: 520px;
    width: 500px;
    height: 50px;
    font-family: 'Roboto';
    border-color: #515255;
}
.key {
    margin-top: 20px;
    margin-left: 520px;
    width: 500px;
    height: 50px;
    font-family: 'Roboto';
    border-color: #515255;
}
.cadastro {
    margin-top: 10px;
    margin-left: 520px;
}

.cadastro a {
    color: #515255;
    text-decoration: underline;
    cursor: pointer;
}

.cadastro a:hover {
    color: #222244;
}


.Button:hover {
    background-color: #f93e05;
}