.navigate_item{
  background: none;
  border: none;
  color: var(--color-neutral-60, #FCFDFF);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.15px;
  cursor: pointer;
}
