.menu {
    position: 'relative';
}

svg {
    width: 18px;
    height: 26px;
    fill: #FCFDFF;
    border: 3px solid #FCFDFF;
    stroke-width: 3px;
    stroke: #FCFDFF;
    transform: rotate(-90deg);

    position: absolute;
    right: 24px;
    top: 0.002px;
}

.box {
    display: inline-flex;
    padding: 16px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: #FCFDFF;

    /* Modal */
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.30);
}

