* {
    box-sizing: border-box;
}

.proj_container {
    width: 100%;
    height: 280px;
    gap: 1px;
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column;
}

.proj_container:hover .edit-menu {
    visibility: visible;
}

.img_proj {
    width: 380px;
    height: 280px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 4px;
    display: flex;
    align-items: center;
    background: #d3d3d3 50%;
    object-fit: cover;
    background-repeat: no-repeat;
}

@media (max-width: 700px) {
    .proj_container {
        width: 320px;
        height: 220px;
    }
}
