.proj_container {
    width: 90%;
    height: 280px;
    gap: 1px;
    margin: 0 16px 0 16px;

    display: flex;
    flex-direction: column;
}

.img_proj {
    width: 380px;
    height: 280px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 4px;
    display: flex;
    align-items: center;
    background: #d3d3d3 50%;
    object-fit: cover;
    background-repeat: no-repeat;
}

@media (max-width: 600px) {
    .proj_container {
        width: 320px;
        height: 220px;
    }
}
