.proj_container {
    width: 100%;
    height: 280px;
    gap: 1px;

    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.img_proj {
    width: 100%;
    height: auto;
    border-radius: 4px;

    background: #d3d3d3 50%;
    object-fit: cover;
    background-repeat: no-repeat;
}

@media (max-width: 600px) {
    .proj_container {
        width: 320px;
        height: 220px;
    }
}
