.menuFilled img{
    display: none;
    visibility: hidden;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 100%;
    cursor: pointer;
}

@media (max-width: 700px){
  .menuFilled img {
    visibility: visible; 
    display: flex; 
    left: 25px;
    position: absolute;
    align-items: 50%;
    bottom: 35%;
  }
}
  