.container_top {
    width: 100%;
    height: 500px;
    align-items: center;
}

.card_perfil {
    margin: auto;
    display: block;
}

.tag_text_field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}