* {
    padding: 0;
}

.container_top {
    width: 100%;
    height: 500px;
    align-items: center;
}

.card_perfil {
    margin: auto;
    display: block;
}

.tag_text_field {
    display: flex;
    min-height: 24px;
    flex-direction: column;
    align-items: flex-start;
}

@media (max-width: 600px) {
    .tag_text_field {
        width: 288px;
        align-self: stretch;
    }
}