* {
    font-family: Roboto, sans-serif;
    font-weight: 400;
}

.box__card_perfil {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 42px;
}

.container__right { 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    justify-content: space-between;
    flex: 1;
}

/* .text_input {
    display: flex;
    flex-direction: column;
    gap: 16px;
} */

h5 {
    font-size: 24px;
    line-height: 24px;
    color: #000;
}

.location {
    font-size: 16px;
    letter-spacing: 0.15px;
    color: #000;
    opacity: 0.5;
}

.button_add {
    margin-top: auto;
}

@media (max-width: 800px) {
    .box__card_perfil {
        width: auto;
        height: auto;
        flex-shrink: 0;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        margin-top: 32px;
    }

    .container__right {
        gap: 8px
    }

    .text_input {
        width: 200px;
        flex-direction: column;
        gap: 8px;
        flex-shrink: 0;
    }
}

